/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@600;700&display=swap");
/* Responsive*/
/* Background */
/* Header colors */
/* card colors */
*,
::before,
::after {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: radial-gradient(at top, #1f3756, #141539);
  width: 100%;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  max-width: 600px;
  height: 100px;
  border: 2px solid #606e85;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

@media (min-width: 1366px) {
  .header {
    width: 600px;
  }
}

.header__text {
  display: block;
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  font-size: 0.6rem;
  line-height: 16px;
}

.header__score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100%;
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.5rem;
}

@media (min-width: 1366px) {
  .header__score {
    width: 20%;
  }
}

.header__score h6 {
  color: #2a46c0;
}

.header__score-number {
  margin-top: -4px;
  font-size: 3rem;
  color: #3b4363;
}

.app {
  position: relative;
  width: 100%;
  height: 98vh;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  /* to fix Safari bug with flexbox*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__flip {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.app__container {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media (min-width: 1366px) {
  .app__container {
    width: 500px;
  }
}

.app__flip--active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  pointer-events: none;
}

.app__inner {
  position: absolute;
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

@media (min-width: 1366px) {
  .app__inner {
    width: 500px;
  }
}

.app__triangle {
  position: absolute;
  top: 45px;
  left: 10%;
}

@media (min-width: 1366px) {
  .app__triangle {
    top: 80px;
    width: 100%;
    left: 100px;
  }
}

.app__triangle svg {
  width: 100%;
  height: 100%;
}

.app__triangle svg path {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transform-origin: center;
          transform-origin: center;
  stroke-width: 25;
}

@media (min-width: 1366px) {
  .app__triangle svg path {
    -webkit-transform: scale(1);
            transform: scale(1);
    stroke-width: 15;
  }
}

.app__upper-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app__lower-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.app__card {
  position: relative;
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #141539;
  border-radius: 100%;
  z-index: 1;
  cursor: pointer;
}

.app__card::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -webkit-box-shadow: 0 4px 0px rgba(128, 128, 128, 0.331) inset;
          box-shadow: 0 4px 0px rgba(128, 128, 128, 0.331) inset;
}

@media (min-width: 1366px) {
  .app__card::after {
    width: 130px;
    height: 130px;
    -webkit-box-shadow: 0 8px 0px rgba(128, 128, 128, 0.331) inset;
            box-shadow: 0 8px 0px rgba(128, 128, 128, 0.331) inset;
  }
}

@media (min-width: 1366px) {
  .app__card {
    width: 170px;
    height: 170px;
  }
}

.app__paper {
  /* this formula increases the specificity as if I wrote .app__paper.app__paper */
}

.app__paper.app__paper {
  background-color: #5671f5;
  -webkit-box-shadow: 0 -4px 0px #4865f4 inset;
          box-shadow: 0 -4px 0px #4865f4 inset;
}

.app__paper.app__paper::after {
  content: "";
  background: white url("../images/icon-paper.svg") no-repeat center;
}

@media (min-width: 1366px) {
  .app__paper.app__paper {
    -webkit-box-shadow: 0 -8px 0px #4865f4 inset;
            box-shadow: 0 -8px 0px #4865f4 inset;
  }
}

.app__scissors {
  /* this formula increases the specificity as if I wrote .app__scissor.app__scissor */
}

.app__scissors.app__scissors {
  background-color: #eca922;
  -webkit-box-shadow: 0 -4px 0px #ec9e0e inset;
          box-shadow: 0 -4px 0px #ec9e0e inset;
}

.app__scissors.app__scissors::after {
  content: "";
  background: white url("../images/icon-scissors.svg") no-repeat center;
}

@media (min-width: 1366px) {
  .app__scissors.app__scissors {
    -webkit-box-shadow: 0 -8px 0px #ec9e0e inset;
            box-shadow: 0 -8px 0px #ec9e0e inset;
  }
}

.app__rock {
  /* this formula increases the specificity as if I wrote .app__rock.rock */
}

.app__rock.app__rock {
  background-color: #dd405d;
  -webkit-box-shadow: 0 -4px 0px #dc2e4e inset;
          box-shadow: 0 -4px 0px #dc2e4e inset;
}

.app__rock.app__rock::after {
  content: "";
  background: white url("../images/icon-rock.svg") no-repeat center;
}

@media (min-width: 1366px) {
  .app__rock.app__rock {
    -webkit-box-shadow: 0 -8px 0px #dc2e4e inset;
            box-shadow: 0 -8px 0px #dc2e4e inset;
  }
}

.result {
  width: 100%;
  max-width: 550px;
  padding: 5% 8% 0 8%;
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media (min-width: 1366px) {
  .result {
    width: 600px;
    padding: 0;
    top: 35%;
  }
}

.result__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.result__container.player::before {
  content: "";
  position: absolute;
  top: -85px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  /* Use % to "stop" the blur between colors*/
  background-image: radial-gradient(#2b3654, #2b3654 44%, #253453 44%, #253453 57%, #223150 57%, #223150);
  z-index: -1;
  display: none;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@media (min-width: 1366px) {
  .result__container.player::before {
    top: -65px;
  }
}

.result__container.player--active::before {
  -webkit-animation: scaleAnimation 0.5s;
          animation: scaleAnimation 0.5s;
  display: block;
}

.result__card {
  position: relative;
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #141539;
  border-radius: 100%;
  z-index: 1;
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: center;
          transform-origin: center;
  margin-bottom: 30px;
}

.result__card::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -webkit-box-shadow: 0 4px 0px rgba(128, 128, 128, 0.331) inset;
          box-shadow: 0 4px 0px rgba(128, 128, 128, 0.331) inset;
}

@media (min-width: 1366px) {
  .result__card::after {
    width: 130px;
    height: 130px;
    -webkit-box-shadow: 0 8px 0px rgba(128, 128, 128, 0.331) inset;
            box-shadow: 0 8px 0px rgba(128, 128, 128, 0.331) inset;
  }
}

@media (min-width: 1366px) {
  .result__card {
    width: 170px;
    height: 170px;
  }
}

.result__card::after {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.result__card--active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.result__card--active::after {
  -webkit-box-shadow: 0 4px 0px rgba(128, 128, 128, 0.331) inset;
          box-shadow: 0 4px 0px rgba(128, 128, 128, 0.331) inset;
}

.result__paper {
  /* this formula increases the specificity as if I wrote .app__paper.app__paper */
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.result__paper.result__paper {
  background-color: #5671f5;
  -webkit-box-shadow: 0 -4px 0px #4865f4 inset;
          box-shadow: 0 -4px 0px #4865f4 inset;
}

.result__paper.result__paper::after {
  content: "";
  background: white url("../images/icon-paper.svg") no-repeat center;
}

@media (min-width: 1366px) {
  .result__paper.result__paper {
    -webkit-box-shadow: 0 -8px 0px #4865f4 inset;
            box-shadow: 0 -8px 0px #4865f4 inset;
  }
}

.result__scissors {
  /* this formula increases the specificity as if I wrote .app__scissor.app__scissor */
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.result__scissors.result__scissors {
  background-color: #eca922;
  -webkit-box-shadow: 0 -4px 0px #ec9e0e inset;
          box-shadow: 0 -4px 0px #ec9e0e inset;
}

.result__scissors.result__scissors::after {
  content: "";
  background: white url("../images/icon-scissors.svg") no-repeat center;
}

@media (min-width: 1366px) {
  .result__scissors.result__scissors {
    -webkit-box-shadow: 0 -8px 0px #ec9e0e inset;
            box-shadow: 0 -8px 0px #ec9e0e inset;
  }
}

.result__rock {
  /* this formula increases the specificity as if I wrote .app__rock.rock */
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.result__rock.result__rock {
  background-color: #dd405d;
  -webkit-box-shadow: 0 -4px 0px #dc2e4e inset;
          box-shadow: 0 -4px 0px #dc2e4e inset;
}

.result__rock.result__rock::after {
  content: "";
  background: white url("../images/icon-rock.svg") no-repeat center;
}

@media (min-width: 1366px) {
  .result__rock.result__rock {
    -webkit-box-shadow: 0 -8px 0px #dc2e4e inset;
            box-shadow: 0 -8px 0px #dc2e4e inset;
  }
}

.result__game-over {
  width: 100%;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-animation: scaleAnimation 0.5s;
          animation: scaleAnimation 0.5s;
}

.result__game-over h1 {
  text-align: center;
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 2.5rem;
}

.result__game-over button {
  width: 250px;
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  color: #141539;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  z-index: 1;
  pointer-events: all;
}

.result p {
  color: white;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.rules__btn {
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #606e85;
  border-radius: 0.5rem;
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
}

@media (min-width: 1366px) {
  .rules__btn {
    position: relative;
    left: 600px;
  }
}

.rules__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}

@media (min-width: 425px) {
  .rules__main {
    position: relative;
    top: 20px;
  }
}

.rules__close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media (min-width: 425px) {
  .rules__close-btn {
    position: absolute;
    top: 45px;
    right: 45px;
  }
}

.rules__explaination-section {
  width: 100%;
  height: 100vh;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  display: block;
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media (min-width: 425px) {
  .rules__explaination-section {
    width: 400px;
    height: 380px;
    border-radius: 20px;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -100vh);
            transform: translate(-50%, -100vh);
  }
}

.rules__explaination-section--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 425px) {
  .rules__explaination-section--active {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.rules__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 15%;
  font-size: 1.7rem;
}

@media (min-width: 425px) {
  .rules__text {
    height: 70px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-left: 3.5rem;
  }
}

/*Animations*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes dropDown {
  0% {
    display: block;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dropDown {
  0% {
    display: block;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */