/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@600;700&display=swap");

/* Background */
$radial: hsl(214, 47%, 23%);
$dark-radial: hsl(237, 49%, 15%);

/* Header colors */
$lighter-gray: hsl(217, 16%, 45%);
$light-blue: hsl(229, 64%, 46%);
$dark-gray: hsl(229, 25%, 31%);

/* card colors */
$blue-primary: hsl(230, 89%, 65%);
$blue-gradient: hsl(230, 89%, 62%);
$yellow-gradient: hsl(39, 89%, 49%);
$yellow-primary: hsl(40, 84%, 53%);
$red-primary: hsl(349, 70%, 56%);
$red-gradient: hsl(349, 71%, 52%);
$light-gray: rgba(128, 128, 128, 0.331);

@mixin cardStyle {
  position: relative;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-radial;
  border-radius: 100%;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    /* background-color: white; */
    box-shadow: 0 4px 0px $light-gray inset;
  }
}

*,
::before,
::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient($radial, $dark-radial);
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  border: 2px solid $lighter-gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  /* margin-bottom: 30%; */

  &__text {
    display: block;
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 0.6rem;
    line-height: 16px;
  }
  &__score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    border-radius: 0.25rem;
    background-color: white;
    padding: 0.5rem;

    & h6 {
      color: $light-blue;
    }
    &-number {
      margin-top: -4px;
      font-size: 3rem;
      color: $dark-gray;
    }
  }
}

.app {
  position: relative;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }

  &__triangle {
    position: absolute;
    top: 45px;
    & svg {
      width: 100%;
      height: 100%;
      & path {
        transform: scale(0.7);
        transform-origin: center;
        stroke-width: 25;
      }
    }
  }

  &__upper-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__lower-block {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  &__card {
    @include cardStyle();
  }
  &__paper {
    /* this formula increases the specificity as if I wrote .app__paper.app__paper */
    &#{&} {
      background-color: $blue-primary;
      box-shadow: 0 -4px 0px $blue-gradient inset;
      &::after {
        content: "";
        background: white url("../images/icon-paper.svg") no-repeat center;
      }
    }
  }
  &__scissor {
    /* this formula increases the specificity as if I wrote .app__scissor.app__scissor */
    &#{&} {
      background-color: $yellow-primary;
      box-shadow: 0 -4px 0px $yellow-gradient inset;
      &::after {
        content: "";
        background: white url("../images/icon-scissors.svg") no-repeat center;
      }
    }
  }
  &__rock {
    /* this formula increases the specificity as if I wrote .app__rock.rock */
    &#{&} {
      background-color: $red-primary;
      box-shadow: 0 -4px 0px $red-gradient inset;
      &::after {
        content: "";
        background: white url("../images/icon-rock.svg") no-repeat center;
      }
    }
  }
}

.result {
  width: 100%;
  padding: 15% 8% 0 8%;
  display: none;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &.player::before {
      content: "";
      position: absolute;
      top: -90px;
      width: 300px;
      height: 300px;
      border-radius: 100%;
      /* Use % to "stop" the blur between colors*/
      background-image: radial-gradient(
        #2b3654,
        #2b3654 44%,
        #253453 44%,
        #253453 57%,
        #223150 57%,
        #223150
      );
      z-index: -1;
    }
  }

  &__card {
    @include cardStyle;

    transform: scale(0.8);
    transform-origin: center;
    margin-bottom: 30px;

    &::after {
      box-shadow: none;
    }

    &--active {
      transform: scale(1);
      &::after {
        box-shadow: 0 4px 0px $light-gray inset;
      }
    }
  }

  &__game-over {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
      text-align: center;
      color: white;
      font-family: "Kumbh Sans", sans-serif;
      font-size: 3rem;
    }

    & button {
      width: 80%;
      padding: 1rem;
      background-color: white;
      border: 1px solid black;
      border-radius: 0.5rem;
      color: $dark-radial;
      font-family: "Kumbh Sans", sans-serif;
      font-size: 1rem;
    }
  }

  & p {
    color: white;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
  }
}

.rules {
  &__btn {
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: 2px solid $lighter-gray;
    border-radius: 0.5rem;
    color: white;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 0.8rem;
  }

  &__explaination-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 100;
    display: none;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 15%;
    font-size: 1.7rem;
  }
}
